<form [formGroup]="employeeform" (ngSubmit)="onButtonClicked(employeeform.value)" >
  <input type="text" formControlName="email" placeholder="Email">
  <input type="number" formControlName="age" placeholder="Age">
  <input type="number" formControlName="salary" placeholder="Salary">
  <input type="submit" [disabled]="employeeform.invalid" value="Submit">
</form>

Your new employee email: {{ employeeform.value.name}},
age: {{ employeeform.value.age}}
with salary {{ employeeform.value.salary}} $ will be added to the system

